*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-full {
  width: 100%;
}

.ql-toolbar.ql-snow, .ql-container.ql-snow  {
  border: none !important;
}

.ql-editor.ql-blank::before {
  font-size: 1rem;
}

.textEditorDark .ql-editor.ql-blank::before {
  color:#ddd !important; 
}

.textEditorDark .ql-formats button svg .ql-stroke {
  stroke:#ddd !important; 
}